.header {
    grid-area: h;
    background-color: #000000;
    border-radius: 0.35rem;
    border: none;
    position: fixed;
    width: 80%;
  /* top: 10px;*/
}

.header img {
    padding-left: 10px;
    width: 70px;
    text-align: center;
}

.new {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
}
.loginLink {
    float: right;
    margin: 20px;
    color: white;
}

.loginLink a {
    color: white;
    text-decoration: none;
}

.loginName {

}

/*@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}*/
