.header {
    grid-area: h;
    background-color: #000000;
    border-radius: 0.35rem;
    border: none;
    position: sticky;
    top: 0px;
}

.header img {
    padding-left: 10px;
    width: 70px;
    text-align: center;
}

.new {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
}
